body
{
	background-color: #c4eaf0;
}

a:link, a:visited
	{
		color: black;
		background-color: #8e90f9;
		text-decoration: none;
		font-family: verdana;
		display: inline-block;
		padding: 8px;
		text-align: center;
	}

a:hover
	{
		color: navy;
		background-color: #a19e9e;
		text-decoration: none;

	}

a:active
	{
		color: #7e140c;
		background-color: #cb7651;
		text-decoration: none;
	}